			<!-- ============================================================== -->
			<!-- Start right Content here -->
			<!-- ============================================================== -->
			<div class="content-page">
				<!-- Start content -->
				<div class="content">
					<div class="container">
                        <div class="bg-picture-overlay"></div>
                        <div align="center" class="profile-info-name">
                                    <img src="bower_components/assets/images/school.png"  >
                                    <h4 class="m-b-5"><b></b></h4>
                                    
                                </div>
						<!-- Page-Title -->
						 <div class="row" >
                      
                      <div class="col-md-4" >
                        
                        </div>
                      
              <div class="col-md-4" >
                        
                        <div class="card-box m-t-20" >
                <h4 class="m-t-0 header-title"><b>Details</b></h4>
                <div class="p-20">
                  <div class="about-info-p">
                                        <strong>Nom</strong>
                                        <br>
                                        <p class="text-muted">{{frm.nomFormation}}</p>
                                    </div>
                                    <div class="about-info-p">
                                        <strong>Début Accréditation</strong>
                                        <br>
                                        <p class="text-muted">{{frm.debutAccreditation}}</p>
                                    </div>
                                    <div class="about-info-p">
                                        <strong>Diplome</strong>
                                        <br>
                                        <p class="text-muted" ng-if="frm.diplome == 'M'">Master</p>
                                        <p class="text-muted" ng-if="frm.diplome == 'L'">License</p>
                                        <p class="text-muted" ng-if="frm.diplome == 'D'">Doctorat</p>
                                    </div>
                                    <div class="about-info-p">
                                        <strong>Double Diplome </strong>
                                        <br>
                                        <p class="text-muted" ng-if="frm.doubleDiplome == 'O'">Oui</p>
                                        <p class="text-muted" ng-if="frm.doubleDiplome == 'N'">Non</p>
                                    </div>
                                    <div class="about-info-p">
                                        <strong>Fin Accréditation</strong>
                                        <br>
                                        <p class="text-muted">{{frm.finAccreditation}}</p>
                                    </div>
                                    <div class="about-info-p m-b-0">
                                        <strong>Nombre d'années</strong>
                                        <br>
                                        <p class="text-muted">{{frm.n0Annee}}</p>
                                    </div>
              </div>
              <br>
              
              </div>
              <!-- Personal-Information -->
              
              <!-- Personal-Information -->
              
              
              <!-- Personal-Information -->
              
              <!-- Personal-Information -->
              
                        
                        
                        
                        
                        
                          
                    
                    
                
                </div> <!-- container -->
                        
                      

            </div>



                        
					</div> <!-- container -->
				</div> <!-- content -->

				
				
			</div>
			<!-- ============================================================== -->
			<!-- End Right content here -->
			<!-- ============================================================== -->

		

		</div>
        <!-- END wrapper -->
    
      
       

 <script>
            var resizefunc = [];
        </script>